---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/va-letter-generator/v1/eligible-letters?icn=123498767V234859
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer abcdefghijklmnop
  response:
    status:
      code: 504
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Ratelimit-Limit-Minute:
      - '400'
      Ratelimit-Remaining:
      - '396'
      Ratelimit-Reset:
      - '27'
      Ratelimit-Limit:
      - '400'
      X-Ratelimit-Remaining-Minute:
      - '396'
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |
        <html>
        <head><title>504 Gateway Time-out</title></head>
        <body>
        <center><h1>504 Gateway Time-out</h1></center>
        </body>
        </html>
  recorded_at: Tue, 18 Apr 2023 16:22:34 GMT
recorded_with: VCR 6.1.0
