---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/internal/auth/v3/user/connected-apps?icn=1012666073V986297
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{
    "apps": [
        {
            "clientId": "0oalu3qcg4AVyOxsQ2p7",
            "label": "Leidosdoyle-1681243734",
            "href": "https://ok6static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png",
            "status": "ACTIVE"
        }
    ]
}'
  recorded_at: Wed, 07 Nov 2018 14:57:37 GMT