---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/internal/auth/v3/user/connected-apps?icn=1012667145V762142
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{
    "apps": [
        {
            "clientId": "0oa8go9w63TC4IOgy2p7",
            "label": "LibertyitsMarkwordt-2020-09-30T16:50:38.134Z",
            "href": "https://ok6static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png",
            "status": "ACTIVE"
        },
        {
            "clientId": "0oa8goc0hkNNBuqEl2p7",
            "label": "Lighthouse OAuth Monitoring - Agent J",
            "href": "https://ok6static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png",
            "status": "ACTIVE"
        },
        {
            "clientId": "0oabfjv1q9hVL9JOM2p7",
            "label": "Sapie[...]
